.navbar {
    background-color: #f9f6f4 !important   ;
    border:none !important;
    
}
.navbar-nav{
    min-height: 127px !important;
padding-top: 76px !important;

}
.navbar-header{
    padding-top:0 !important;
    padding-bottom:70px  !important;
text-align: center !important;
margin-left: 10% !important;
}
.navbar-brand{
    padding-left: 10% !important;

} 
.navbar .navbar-nav>li>a {
    color: #110260 !important;

}
.navbar:hover .navbar-nav>li>a:hover{
      background-color: black !important;
      color: #f9f6f4 !important;
  }